@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color: rgb(219, 109, 109);
    padding: 12px 9px;
    display:  flex;
    justify-content: space-between;
    margin-bottom: 13px;
}
.logo{
    margin: 0 23px;
    font-weight: 700;
    font-size: 23px;
    cursor: pointer;
} 
ul{
    display: flex;
    margin: 0 23px;
    align-items: center;
}
li{
    list-style: none;
    margin: 0 12px;
}
ul > li:hover{
    color: rgb(213, 209, 209);
    cursor: pointer;
}
p{
    text-align: left;
}
table{
    border-collapse: separate;
    border-spacing: 15px;
    border: 2px solid black;
}
table tr.heading{
    font-weight: bold;
}
td{
    border: 1px solid red;
}
form{
    margin: 12px;
}
.container{
    max-width: 80vw;
    margin: auto;
}
.submit{
    background: black;
    color: white;
    padding: 7px 12px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid gray;
}
.btnSm{
    background: rgb(123, 19, 19);
    color: white;
    padding: 7px 12px;
    font-weight: 600;
    cursor: pointer;
}
.copyImage{
    display: inline-block;
    right: 8px;
    cursor: pointer;
    height: 18px;
    width: 18px;
}
#alert{
    display: none;
}
.overlay{
    top: 5px;
    width: 42%;
    font-size: 1.8rem;
    opacity: 0;
    text-align: center;
    transition: opacity 0.3s ease;
}